@import "../base/variables";
@import "../framework/layout";
@import "../modules/button.module";

.article--detail--section {
  background-color: $primary--white;
  grid-column: span 8 / span 8;
  margin-left: -$lrg-margin;
  margin-top: -$lrg-margin !important;
  .margin-realign {
    margin-top: $lrg-margin + 3rem;
    margin-left: $lrg-margin;
    padding-bottom: $lrg-margin;
  }
}

.current--news--section--container {
  flex-direction: row;
  grid-column: span 8 / span 8;
}

.article--detail--page {
  background-color: $bg-light-blue;
}

.image--contain {
  width: calc(100% - 1.5rem);
  position: relative;
  height: max-content;
  height: 100%;
  min-height: 100%;
  height: 400px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover; // Optional
  }
}

.article--list--image--container {
  width: 300px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover; // Optional
  }
}

.sponsor--image--container {
  width: 100px;
  height: 100px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover; // Optional
  }
}

.news--flexbox {
  display: flex;
  flex-wrap: wrap;
}

.news--flex {
  display: flex;
  flex-wrap: wrap;
}

.article--list--item {
  cursor: pointer;
  :hover {
    h3,
    h4 {
      color: $cta--blue;
    }
  }
}

.sponsor--item--container {
  display: flex;
  border-radius: 11px;
  border: 1px solid #eee;
  img {
    border-radius: 11px 0 0 11px;
  }
}

.article--item--container {
  display: flex;
  border-radius: 11px;
  border: 1px solid #eee;
  margin-bottom: $sm-margin;
  min-height: 12rem;
  max-height: max-content;
  img {
    border-radius: 11px 0 0 11px;
  }
}

.news--small {
  width: 50%;
  > div {
    border-radius: 11px;
    border: 1px solid #eee;
    img {
      border-radius: 11px 11px 0 0;
    }
    margin-bottom: 1.5rem;
    width: calc(50% - 1.5rem);
    display: flex;
    flex-wrap: wrap;
  }
  div:nth-child(odd) {
    margin-right: 1.5rem;
  }
}

.large--module {
  width: calc(50% - 1.5rem);
  margin-right: 1.5rem;

  > div {
    border-radius: 11px;
    border: 1px solid #eee;
    img {
      border-radius: 11px 11px 0 0;
    }
  }
}
