@import "../base/variables";
@import "../framework/layout";
@import "../modules/button.module";
.article--content--item {
  grid-column-start: 1;
  grid-column-end: -1;
  position: relative;
  * {
    font-family: Arial, 宋体;
    font-weight: 600;
    margin-bottom: $sm-margin;
  }
}

.exec--wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title--container {
  width: 50% !important;
}

.exec--container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
