@import "../base/variables";

%grid--container {
  padding: $lrg-margin;
  display: grid;
  grid-template-columns: $column--count;
  max-width: $max--width;
  column-gap: $grid--gap;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image--link--container {
  position: relative;
  a {
    position: absolute;
  }
}
.header--text {
  * {
    border-bottom: 1px solid white;
  }
}

// SmallHeader.js
.header--sm {
  // @extend %grid--container;
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  .header--text--wrapper {
    grid-column-start: $grid--start;
    grid-column-end: $grid--end;
  }
}

.sm--header--bg--extend {
  padding-top: calc(48px + 64px);
  position: relative;
}

// LargeHeader.js
.header--lrg {
  //   background-color: $bg-color--primary;
  @extend %grid--container;
  .header--text--wrapper {
    grid-column-start: $grid--start;
    grid-column-end: $grid--end;
  }
}

.header--text--wrapper {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  display: flex;
  align-items: center;
}

.header--lrg--text--wrapper {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  display: flex;
  align-items: center;
  // height: calc(100% - 84px*2);
}

// Branch Header
.section--header--wrapper {
  grid-column-start: $grid--start;
  grid-column-end: 4;
  grid-row-start: 1;
}

.branch--grid--container {
  @extend %grid--container;
}

.header--content {
  position: relative;
  z-index: 5;
  color: $primary--white;
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
}

.home--banner--text--wrapper {
  .header--text,
  p {
    color: $primary--white;
  }
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  display: flex;
  justify-content: center;
  p {
    align-self: center;
  }
}

.logo--heading {
  letter-spacing: -0.094rem;
  font-weight: bolder;
  z-index: 5;
  position: relative;
}
.header--overline {
  z-index: 5;
  position: relative;
}
.header--overline,
.logo--heading {
  color: $primary--white;
}

.bg--dimmer {
  padding: 0 !important;
  margin: 0 !important;
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: $largeQuery) {
  .home--banner--text--wrapper {
    p {
      margin-left: $sm-margin;
      width: 17rem;
      align-self: center;
    }
  }
}

@media only screen and (max-width: $minQuery) {
  .sm--header--bg--extend {
    padding-top: calc(64px) !important;
  }
  .home--banner--text--wrapper {
    display: flex;
    flex-direction: column;
    * {
      margin: 0;
      padding: 0;
      justify-content: left;
    }
    p {
      margin-top: $sm-margin;
    }
  }
}
